<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Excuir Filme</h1>
    <nav><a href="/">Home</a><a href="/criar">Criar</a></nav>
  </header>
  <main>
    <div class="container">
      <div class="item">
        <span>
          <% if(mensagem !='' ){mensagem} %>
        </span>
        <form action="/deletar/<%= filme.id %>" method="post">
          <h2>Deseja realmente DELETAR?</h2>
          <span>
            <%= filme.nome %>
          </span>
          <img src="<%= filme.imagem%>" alt="">
          <a href="/filmes/<%= filme.id %>">Cancelar</a>
          <button type="submit">Confirmar</button>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <p>Lista de filmes - 2022</p>
  </footer>
  <script src="./JS/script.js"></script>

</body>

</html>